<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Delete Proiezione')"> </head>
<body>
	<header th:replace="fragments/admin_base.html :: intestazione"></header>
	<section class="admin-delete-form">
		<form th:action="@{'/admin/delete/proiezione/' + ${proiezione.id}}" method="POST" th:object="${proiezione}">
			<div>Dettagli proiezione</div>
			<div>
				<span>Data:</span>
				<span th:text="${#temporals.format(proiezione.data, 'dd-MM-yyyy HH:mm')}"></span>
			</div>
			<div>
				<span>Film:</span>
				<span th:text="*{film.titolo}"></span>
			</div>
			<div>
				<span>Sala:</span>
				<span th:text="*{sala.nome}"></span>
			</div>
			<div>
				<button class="button-edit" type="submit">Rimuovi</button>
				<a th:href="@{/admin/proiezioni}"><button class="button-remove" type="button">Annulla</button></a>
			</div>
		</form>
	</section>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>