<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Add Proiezione')"> </head>
<body>
	<header th:replace="fragments/admin_base.html :: intestazione"></header>
	<section class="admin-form">
		<form th:action="@{/admin/proiezione}" method="POST" th:object="${proiezione}">
			<div>Nuova proiezione</div>
			<label>
				<div>
					<span>Data:</span>
					<input th:field="*{data}" type="datetime-local" min="" th:attr="min=${mindata}" required/>
				</div>
				<div th:if="${#fields.hasErrors('data')}" th:errors="*{data}"></div>
			</label>
			<label>
				<div>
					<span>Film:</span>
					<select th:field="*{film}" required>
						<option value="">- Seleziona un film -</option>
						<option th:each="film : ${films}" th:value="${film.id}" th:text="${film.titolo}">Titolo proiezione</option>
					</select>	
				</div>
			</label>
			<label>
				<div>
					<span>Sala:</span>
					<select th:field="*{sala}" required>
				 		<option value="">- Seleziona una sala -</option>
						<option th:each="sala : ${sale}" th:value="${sala.id}" th:text="${sala.nome}">Sala</option>
					</select>	
				</div>
			</label>
			<div>
				<button class="button-edit" type="submit">Aggiungi</button>
				<a th:href="@{/admin/proiezioni}"><button class="button-remove" type="button">Annulla</button></a>
			</div>
		</form>
	</section>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>