<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Add Proiezione')"> </head>
<body>
	<header th:replace="fragments/admin_base.html :: intestazione"></header>
	<div>
		<h4>Creazione nuova proiezione</h4>
	</div>
	<form th:action="@{/admin/proiezione}" method="POST" th:object="${proiezione}">
		<table>
			<tr>
				<td>Data: </td>
				<td><input th:field="*{data}" type="datetime-local" required /></td>
				<td th:if="${#fields.hasErrors('data')}" th:errors="*{data}" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td>Film: </td>
				<td>
					<label for="film-select"></label>
						<select th:field="*{film}" id="film-select" required>
						    <option value="">--Seleziona un film--</option>
						    <option th:each="film : ${films}" th:value="${film.id}" th:text="${film.titolo}">Titolo film</option>
						</select>	
				</td>
			</tr>
			<tr>
				<td>Sala: </td>
				<td>
					<label for="sala-select"></label>
						<select th:field="*{sala}" id="sala-select" required>
						    <option value="">--Seleziona una sala--</option>
						    <option th:each="sala : ${sale}" th:value="${sala.id}" th:text="${sala.nome}">Sala</option>
						</select>	
				</td>
			</tr>
		</table>
		<div>
				<span><button type="submit">Aggiungi</button></span>
				<span><a th:href="@{/admin/proiezioni}"><button type="button">Annulla</button></a></span>
		</div>
	</form>
</body>
</html>