<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles(title)">
	<meta charset="UTF-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link th:href="@{/css/my-style.css}" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<title th:text="${title}"></title>
</head>
<body>
	<header th:fragment="intestazione">
		<a th:href="@{/}"><h1>Siw Cinema</h1></a>
		<nav>
			<ul>
				<li><a th:href="@{/}">Home</a></li>
				<li><a th:href="@{/login}">Accedi</a></li>
				<li><a th:href="@{/register}">Registrati</a></li>
			</ul>
    	</nav>
    	<div id="hamburger-icon" onclick="openMenu(this)">
    		<div class="material-icons">menu</div>
    		<ul class="mobile-menu">
    			<li><a th:href="@{/}">Home</a></li>
				<li><a th:href="@{/login}">Accedi</a></li>
				<li><a th:href="@{/register}">Registrati</a></li>
			</ul>
		</div>
    	<script>
			openMenu = menu => {
				menu.classList.toggle('open');
			}
		</script>
	</header>
	
	<footer th:fragment="fondo">
		<span class="material-icons">copyright</span>
		<span style="margin-left: 5px;">2023 Siw Cinema<span>	
	</footer>
</body>
</html>