<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Delete Sala')"> </head>
<body>
	<header th:replace="fragments/admin_base.html :: intestazione"></header>
	<section class="admin-delete-form">
		<h1>La sala potrebbe avere proiezioni associate!</h1>
		<form th:action="@{'/admin/delete/sala/' + ${sala.id}}" method="POST" th:object="${sala}">
			<div>Dettagli sala</div>
			<div>
				<span>Nome:</span>
				<span th:text="*{nome}"></span>
			</div>
			<div>
				<span>Posti:</span>
				<span th:text="*{posti}"></span>
			</div>
			<div>
				<button class="button-edit" type="submit">Rimuovi</button>
				<a th:href="@{/admin/sale}"><button class="button-remove" type="button">Annulla</button></a>
			</div>
		</form>
	</section>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>