<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Add Sala')"> </head>
<body>
	<header th:replace="fragments/admin_base.html :: intestazione"></header>
	<section class="admin-form">
		<form th:action="@{/admin/sala}" method="POST" th:object="${sala}">
			<div>Nuova sala</div>
			<label>
				<div>
					<span>Nome:</span>
					<input th:field="*{nome}" type="text" required/>
				</div>
				<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
			</label>
			<label>
				<div>
					<span>Numero posti:</span>
					<input th:field="*{posti}" type="text" required/>
				</div>
				<div th:if="${#fields.hasErrors('posti')}" th:errors="*{posti}"></div>
			</label>
			<div>
				<button class="button-edit" type="submit">Aggiungi</button>
				<a th:href="@{/admin/sale}"><button class="button-remove" type="button">Annulla</button></a>
			</div>
		</form>
	</section>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>