* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

html {
	height: 100%;
    width: 100%;
    display: table;
    font-family: sans-serif;
}

body {
	height: 100%;
    width: 100%;
    display: table-cell;
    margin: 0;
    position: relative;
}

header {
	height: 80px;
	width: 100%;
	background-color: black;
	color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

header a {
	color: white;
	text-decoration: none;
}

header a div {
	font-size: 2rem;
	font-weight: bold;
}

header ul {
  	list-style: none;
  	display: flex;
  	align-items: center;
  	justify-content: space-around;
}

header ul li {
  	margin-left: 15px;
  	font-weight: bold;
}

header ul li:hover {
  	transform: scale(1.2);
}

#hamburger-icon {
  	display: none;
  	cursor: pointer;
}

.open .mobile-menu {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
}

.mobile-menu {
	height: calc(100% - 160px);
	width: 100%;
  	display: none;
  	position: absolute;
  	margin: 0;
  	padding: 0;
  	top: 80px;
  	left: 0;
  	background-color: black;
  	opacity: 0.9;
}

.mobile-menu li {
  	margin: 30px 0 0 0;
  	font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
	header {
		padding: 0 30px;
		justify-content: space-between;
	}
	
	header a div {
  		font-size: 1.5rem;
  	}
  	
 	header nav {
    	display: none;
  	}

  	#hamburger-icon {
    	display: block;
	}
}

@media only screen and (max-width: 250px) {
	header a div {
  		font-size: 1rem;
  	}
}

footer {
	height: 80px;
	width: 100%;
	background-color: #EFECEC;
	color: black;
	margin-top: 50px;
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-form {
	height: 580px;
  	width: 100%;
  	margin-top: 50px;
  	padding-bottom: 130px;
 	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-form form {
 	height: 100%;
  	width: 350px;
 	font-size: 2rem;
  	box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
  	border-radius: 5px;
  	display: flex;
  	flex-direction: column;
  	justify-content: space-around;
  	align-items: center;
}

.login-form div {
  	height: 12%;
	width: 80%;
}

@media only screen and (max-width: 600px) {
	.login-form form {
  		width: 90%;
  		box-shadow: 0 0 0 0;
  	}
  	
  	.login-form div {
  		width: 100%;
  	}
}

.login-form input {
  	height: 100%;
  	width: 100%;
    background-color: #404040;
    font-size: 1rem;
  	text-indent: 15px;
  	color: white;
 	border: 0;
  	border-radius: 5px;
}

::placeholder {
	color: darkgrey;
}

.login-form input:focus {
	outline: none;
	opacity: 0.7;
}

.login-form button {
  	height: 100%;
	width: 100%;
  	background-color: #2B9CFF;
  	color: white;
  	border: 0;
  	border-radius: 5px;
  	cursor: pointer;
  	font-size: 1rem; 
  	font-weight: bold;
}

button:hover {
	opacity: 0.7;
}

.error-text {
	color: red;
	text-align: center;
	margin-top: 50px;
}

.film-grid {
	margin-top: 40px;
	padding-bottom: 130px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.film-grid > div {
	font-size: 1.5rem;
	font-weight: bold;
}

.film-item {
	height: 300px;
	width: 800px;
	border-radius: 5px;
	margin-top: 40px;
	display: flex;
	align-items: center;
	box-shadow:0 0 15px 0 rgba(0,0,0,0.2);
	background-color: #F5F5F5;
}

.film-locandina {
	height: 90%;
	width: 30%;
	display: flex;
	justify-content: center;
}

.film-locandina img {
	max-height: 100%;
	max-width: 90%;
	border: solid 1px;
	border-radius: 5px;
	border-color: lightgrey;
	padding: 5px;
}

.film-details {
	height: 90%;
	width: 45%;
	display: flex;
	flex-direction: column;
}

.film-details-titolo {
	max-width: 95%;
	font-size: 1.4rem;
	font-weight: bold;
	margin-bottom: 10px;
	word-break: break-all;
}

.film-details-durata {
	display: flex;
	color: red;
	align-items: center;
	margin-bottom: 15px;
}

.film-details-durata :nth-child(2) {
	margin-left: 5px;
}

.film-details-detail {
	margin-bottom: 10px;
}

.film-details-name {
	font-weight: bold;
}

.film-orari {
	height: 90%;
	width: 25%;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.film-orario {
	height: 30%;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	margin-bottom: 10px;
}

.film-orario-day {
	height: 50%;
	width: 100%;
	font-weight: bold;
	display: flex;
	align-items: center;
}

.film-orario a {
	height: 50%;
	width: 90%;
}

.film-orario a button {
	height: 100%;
	width: 100%;
 	background-color: #2B9CFF;
 	box-shadow:0 0 15px 0 rgba(0,0,0,0.2);
 	border: 0;
  	border-radius: 5px;
  	cursor: pointer;
  	font-weight: bold;
  	color: white;
}

@media only screen and (max-width: 850px) {
	.film-grid .film-item {
		height: 100%;
		width: 95%;
		display: flex;
		flex-direction: column;
	}
	
	.film-grid .film-locandina {
		height: 350px;
		width: 90%;
		align-items: center;
	}
	
	.film-grid .film-locandina img {
		max-height: 95%;
		max-width: 100%;
	}
	
	.film-grid .film-details {
		width: 90%;
	}
	
	.film-grid .film-details-titolo {
		font-size: 1.8rem;
		word-break: break-word;
		margin-top: 10px;
		text-align: center;
	}
	
	.film-grid .film-orari {
		max-height: 220px;
		width: 90%;
		margin-bottom: 25px;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.film-grid .film-orario {
		height: 100px;
		width: 160px;
	}
}

.registration-form {
	margin-top: 50px;
	padding-bottom: 130px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.registration-form form {
	width: 400px;
	padding: 20px;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
  	border-radius: 5px;
}

@media only screen and (max-width: 400px) {
	.registration-form form {
		width: 90%;
		padding: 20px 0;
		box-shadow: 0 0 0 0;
		border-top: solid 1px;
		border-bottom: solid 1px;
		border-color: lightgrey;
		border-radius: 0;
	}
}

.registration-form form > div {
	font-size: 2rem;
	margin-bottom: 50px;
}

.registration-form label {
	width: 100%;
	margin-bottom: 10px; 
	display: flex;
	flex-direction: column;
	
}

.registration-form label div {
	width: 100%;
	margin-bottom: 5px;
}

.registration-form label div:nth-child(1) {
	font-size: 1.1rem;
}

.registration-form label div:nth-child(2) {
	height: 35px;
}

.registration-form label div:nth-child(3) {
	font-size: 0.9rem;
	color: red;
}

.registration-form label div input {
	height: 100%;
	width: 100%;
	font-size: 1rem;
	text-indent: 5px;
	border: solid 1px;
	border-color: darkgrey;
	border-radius: 5px;
	background: #f1f1f1;
}

.registration-form label div input:focus {
	outline: none;
	background-color: #ddd;
}

.registration-form button {
  	height: 40px;
	width: 100%;
	margin: 20px 0 10px 0;
  	background-color: #2B9CFF;
  	color: white;
  	border: 0;
  	border-radius: 5px;
  	cursor: pointer;
  	font-size: 1rem;
  	font-weight: bold;
}

.admin-index-section {
	width: 100%;
	margin-top: 50px;
	padding-bottom: 130px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.admin-index-section a {
	height: 150px;
	width: 150px;
	padding: 10px;
	margin: 20px;
	background-color: whitesmoke;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
  	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-decoration: none;
}

.admin-index-section a:hover {
	opacity: 0.7;
}

.admin-index-section a img {
	max-height: 50%;
}

.admin-index-section a div {
	font-size: 1.5rem;
	font-weight: bold;
	color: darkblue;
}

.table-section {
	width: 100%;
	padding-bottom: 130px;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.table-section > div {
	width: 95%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.table-section > div a:nth-child(1) > span {
	font-size: 40px;
	font-weight: bold;
	color: #2B9CFF;
}

.table-section > div a:nth-child(2) {
	height: 50px;
	width: 170px;
	text-decoration: none;
}

.table-section > div a:nth-child(2) button {
	height: 100%;
	width: 100%;
	border: 0;
	border-radius: 5px;
	background-color: #2B9CFF;
	color: white;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.table-section > h1 {
	margin-top: 50px;
}

.table-section table {
	width: 95%;
	margin-top: 50px;
	border-collapse: collapse;
}

.table-hidden {
	display: none;
}

@media only screen and (max-width: 700px) {
	.hide-1 {
		display: none;
	}
}

@media only screen and (max-width: 500px) {
	.table-hidden {
		display: table-cell;
	}
	
	.hide-2 {
		display: none;
	}
}

.table-section table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.table-section table th {
	height: 40px;
	font-size: 1.1rem;
	background-color: #2B9CFF;
	color: white;
}

.table-section table td {
	height: 60px;
	padding: 10px;
	min-width: 70px;
	max-width: 150px;
	word-break: break-word;
	text-align: center;
}

.table-section table td a {
	text-decoration: none;
	margin: 5px;
}

.table-section table tr td a span {
	font-size: 26px;
}

.table-section table tr td a span:hover {
	opacity: 0.7;
}

.table-section table tr td a:nth-last-child(3) span {
	color: darkblue;
}

.table-section table tr td a:nth-last-child(2) span {
	color: brown;
}

.table-section table tr td a:nth-last-child(1) span {
	color: red;
}

.admin-form {
  	margin-top: 50px;
  	padding-bottom: 130px;
 	display: flex;
 	flex-direction: column;
	align-items: center;
}

.admin-form form {
		width: 600px;
		padding: 50px 20px;
  		background-color: whitesmoke;
  		box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
	  	border-radius: 5px;
  		display: flex;
  		flex-direction: column;
  		align-items: center;
	}

.admin-form form > :nth-child(2) {
	font-size: 2rem;
	margin-bottom: 50px;
}

.admin-form form label {
	width: 100%;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
}

.admin-form form label div {
	width: 100%;
	margin-bottom: 5px;
}

.admin-form form label > :nth-child(1) {
	display: flex;
	align-items: center;
}

.admin-form form label > :nth-child(1) span {
	width: 110px;
	font-size: 1.1rem;
	display: flex;
	justify-content: flex-end;
}

.admin-form form label > :nth-child(1) input[type=text], input[type=datetime-local] {
	height: 35px;
	margin-left: 20px;
	border: solid 2px;
	border-color: darkgrey;
	font-size: 1rem;
  	text-indent: 5px;
  	flex-grow: 1;
}

.admin-form form label > :nth-child(1) input[type=datetime-local] {
	font-family: sans-serif;
}

.admin-form form label > :nth-child(1) input[type=text]:focus, input[type=datetime-local]:focus {
	outline: none;
	border: solid 2px;
	border-color: #2B9CFF;
	transition: 0.5s;
}

.admin-form form label > :nth-child(1) input[type=file] {
	margin-left: 20px;
	font-size: 1rem;
}

.admin-form ::placeholder {
	color: #808080;
}

.admin-form form label > :nth-child(2) {
	padding-left: 130px;
	font-size: 0.9rem;
	color: red;
}

.admin-form textarea {
	height: 100px;
	margin-left: 20px;
	padding: 5px;
	border: solid 2px;
	border-color: darkgrey;
	font-family: sans-serif;
	font-size: 1rem;
  	flex-grow: 1;
}

.admin-form textarea:focus {
	outline: none;
	border: solid 2px;
	border-color: #2B9CFF;
	transition: 0.5s;
}

.admin-form select {
  	height: 35px;
  	max-width: calc(100% - 130px);
	margin-left: 20px;
	border: solid 2px;
	border-color: darkgrey;
	font-size: 1rem;
  	text-indent: 5px;
  	flex-grow: 1;
}

.admin-form select:focus {
	outline: none;
	border: solid 2px;
	border-color: #2B9CFF;
	transition: 0.5s;
}

.admin-form form > :nth-last-child(1) {
	margin-top: 20px;
}

@media only screen and (max-width: 650px) {
	.admin-form form {
		width: 95%;
	}
	
	.admin-form form label {
		margin-bottom: 10px;
	}
	
	.admin-form form label > :nth-child(1) {
		flex-direction: column;
	}
	
	.admin-form form label > :nth-child(1) span {
		width: 100%;
		justify-content: flex-start;
		margin-bottom: 5px;
	}
	
	.admin-form form label > :nth-child(1) input[type=text], input[type=datetime-local] {
		width: 100%;
		margin-left: 0px;
	}
	
	.admin-form form label > :nth-child(1) input[type=file] {
		width: 100%;
		margin-left: 0px;
	}
	
	.admin-form form label > :nth-child(1) textarea {
		width: 100%;
		margin-left: 0px;
	}
	
	.admin-form form label > :nth-child(1) select {
		width: 100%;
		max-width: 100%;
		margin-left: 0px;
	}
	
	.admin-form form label > :nth-child(2) {
		padding-left: 0px;
	}
}

@media only screen and (max-width: 350px) {
	.admin-form form > :nth-last-child(1) {
		display: flex;
		flex-direction: column;
	}
}

.admin-form form > :nth-last-child(1) button {
	height: 35px;
	width: 100px;
	margin: 10px;
	border: 0;
	border-radius: 5px;
	color: white;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
}

.button-edit {
	background-color: #2B9CFF;
}

.button-remove {
	background-color: maroon;
}

.film {
	padding: 30px 20px 130px 20px;
	display: flex;
	flex-direction: column;
}

.film > :nth-last-child(3) {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.film > :nth-last-child(3) > a span {
	font-size: 40px;
	font-weight: bold;
	color: #2B9CFF;
}

.film > :nth-last-child(3) button {
	height: 35px;
	width: 100px;
	margin: 10px;
	border: 0;
	border-radius: 5px;
	color: white;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
}

.film > :nth-last-child(2) {
	max-height: 600px;
	width: 100%;
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}

.film > :nth-last-child(2) > :nth-child(1) {
	max-height: 100%;
	width: 48%;
	display: flex;
	justify-content: end;
}

.film > :nth-last-child(2) > :nth-child(1) img {
	max-height: 100%;
	max-width: 100%;
	border: solid 1px;
	border-radius: 5px;
	border-color: lightgrey;
	padding: 3%;
}

.film > :nth-last-child(2) > :nth-child(2) {
	height: 100%;
	width: 48%;
	display: flex;
	flex-direction: column;
}

.film .film-details-titolo {
	font-size: 1.8rem; 
}

@media only screen and (max-width: 600px) {
	.film {
		padding: 30px 0 130px 0;
		align-items: center;
	}
	
	.film > :nth-last-child(3) {
		width: 95%;
	}
	
	.film > :nth-last-child(2) {
		max-height: 100%;
		flex-direction: column;
		align-items: center;
	}
	
	.film > :nth-last-child(2) > :nth-child(1) {
		width: 95%;
		justify-content: center;
	}
	
	.film > :nth-last-child(2) > :nth-child(2) {
		width: 95%;
	}
	
	.film .film-details-titolo {
		margin-top: 25px;
		word-break: break-word;
		text-align: center;
	}
}

@media only screen and (max-width: 350px) {
	.film > :nth-last-child(3) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.film > :nth-last-child(3) a {
		text-decoration: none;
		display: flex;
		justify-content: center;
	}
}

.film > :nth-last-child(1) {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.film > :nth-last-child(1) > div {
	height: 100px;
	width: 160px;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	margin-bottom: 10px;
}

.film > :nth-last-child(1) > div a {
	height: 50%;
	width: 90%;
}

.film > :nth-last-child(1) > div > button {
	height: 50%;
	width: 90%;
 	background-color: #2B9CFF;
 	border: 0;
  	font-weight: bold;
  	color: white;
}

.film > :nth-last-child(1) > div > button:hover {
	opacity: 1;
}

.film > :nth-last-child(1) > div a button {
	height: 100%;
	width: 100%;
 	background-color: #2B9CFF;
 	box-shadow:0 0 15px 0 rgba(0,0,0,0.2);
 	border: 0;
  	border-radius: 5px;
  	cursor: pointer;
  	font-weight: bold;
  	color: white;
}

.prenotazioni {
	margin-top: 50px;
	padding-bottom: 130px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.prenotazioni > div {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.prenotazioni > div > article {
	height: 350px;
	width: 250px;
	border-radius: 5px;
	padding: 40px 10px;
	margin: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	box-shadow:0 0 15px 0 rgba(0,0,0,0.2);
	background-color: #F5F5F5;
}

.prenotazioni > div > article > div {
	font-size: 1.1rem;
	margin-bottom: 5px;
}

.prenotazioni > div > article > :nth-child(1) {
	font-size: 2.5rem;
	font-weight: bold;
	color: #2B9CFF;
}

.prenotazioni > div > article > :nth-child(2) {
	max-width: 100%;
	margin-top: 5px;
	font-size: 1.8rem;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.prenotazioni > div > article > :nth-child(3) {
	color: red;
}

.prenotazioni > div > article button {
	height: 35px;
	width: 100px;
	margin: 10px;
	border: 0;
	border-radius: 5px;
	color: white;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
}

@media only screen and (max-width: 350px) {
	.prenotazioni > div > article {
		margin: 40px 0;
	}
	
	.prenotazioni > div > article {
		height: 100%;
	}
	
	.prenotazioni > div > article > div {
		margin-bottom: 15px;
	}
	
	.prenotazioni > div > article > :nth-child(2) {
		text-align: center;
		white-space: normal;
	}
}

@media only screen and (max-width: 270px) {
	.prenotazioni > div {
		width: 95%;
	}
	
	.prenotazioni > div > article {
		width: 100%;
	}
	
	.prenotazioni > div > article > :nth-child(1) {
		text-align: center;
	}
	
	.prenotazioni > div > article > :nth-child(3) {
		text-align: center;
	}
}