<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Login')"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<h3 class="error-text">Username e/o password non validi</h3>
	<section class="login-form">
		<form th:action="@{/login}" method="POST">
			<div>Accedi</div>
			<div>
            	<input name="username" type="text" placeholder="username" required/>
          	</div>
			<div>
				<input name="password" type="password" placeholder="password" required/>
          	</div>
			<div>
				<button type="submit">Accedi</button>
          	</div>
		</form>
	</section>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>