<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Register User')"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
    <section class="registration-form">
    	<form th:action="@{/register}" method="POST">
    		<div>Registrati</div>
    		<label for="nome">
    			<div>Nome:</div>
	            <div><input th:field="${user.nome}" type="text" placeholder="min 2 caratteri max 100" id="nome" required/></div>
	            <div th:if="${#fields.hasErrors('user.nome')}" th:errors="${user.nome}"></div>
	        </label>
	        <label for="cognome">
	        	<div>Cognome:</div>
	            <div><input th:field="${user.cognome}" type="text" placeholder="min 2 caratteri max 100" id="cognome" required/></div>
	            <div th:if="${#fields.hasErrors('user.cognome')}" th:errors="${user.cognome}"></div>
	        </label>
	        <label for="email">
	        	<div>Email:</div>
	            <div><input th:field="${user.email}" type="text" placeholder="email" id="email" required/></div>
	            <div th:if="${#fields.hasErrors('user.email')}" th:errors="${user.email}"></div>
	        </label>
	        <label for="username">
	        	<div>Username:</div>
	            <div><input th:field="${credentials.username}" type="text" placeholder="min 4 caratteri max 20" id="username" required/></div>
	            <div th:if="${#fields.hasErrors('credentials.username')}" th:errors="${credentials.username}"></div>
	        </label>
	        <label for="password">
	        	<div>Password:</div>
	            <div><input th:field="${credentials.password}" type="password" placeholder="min 6 caratteri max 20" id="password" required/></div>
	            <div th:if="${#fields.hasErrors('credentials.password')}" th:errors="${credentials.password}"></div>
	        </label>
	        <button type="submit">Registrati</button>
		</form>
	</section>
    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>