<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Prenotazioni')"> </head>
<body>
	<header th:replace="fragments/user_base.html :: intestazione"></header>
	<section th:if="${#lists.isEmpty(prenotazioni)}" class="prenotazioni">
		<h1>Nessuna prenotazione effettuata</h1>
	</section>
	<section th:unless="${#lists.isEmpty(prenotazioni)}" class="prenotazioni">
		<h1>Prenotazioni effettuate</h1>
		<div>
			<article th:each="prenotazione : ${prenotazioni}">
				<div th:text="${'ID ' + prenotazione.id}">Id</div>
				<div th:text="${prenotazione.proiezione.film.titolo}">Film</div>
				<div th:text="${#temporals.format(prenotazione.proiezione.data, 'dd/MM/yyyy HH:mm')}">01/01/00 00:00</div>
				<div th:text="'Sala ' + ${prenotazione.proiezione.sala.nome}">Sala 1</div>
				<div th:text="${'Posti: ' + prenotazione.numeroPostiPrenotati}">1</div>
				<a th:href="@{'/user/prenotazione/delete/' + ${prenotazione.id}}"><button class="button-remove" type="button">Rimuovi</button></a>
			</article>
		</div>
	</section>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>