<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Prenotazione')"> </head>
<body>
	<header th:replace="fragments/user_base.html :: intestazione"></header>
	<section class="admin-form">
		<h1 th:if="${proiezione.postiRimasti == 0}">Spiacenti, nessun posto rimasto per questa proiezione</h1>
		<form th:unless="${proiezione.postiRimasti == 0}" th:action="@{'/user/prenotazione/' + ${proiezione.id}}" method="POST" th:object="${prenotazione}">
			<div>Seleziona numero di posti da prenotare:</div>
			<label>
				<div>
					<span>Numero posti:</span>
					<select th:field="*{numeroPostiPrenotati}" required>
						<option value="">- Seleziona numero -</option>
						<option th:each="number : ${#numbers.sequence(1, proiezione.postiRimasti)}" th:value=${number} th:text=${number}>0</option>
					</select>
				</div>
				<div th:if="${#fields.hasErrors('numeroPostiPrenotati')}" th:errors="*{numeroPostiPrenotati}"></div>
			</label>
			<div>
				<button class="button-edit" type="submit">Prenota</button>
				<a th:href="@{/user/home}"><button class="button-remove" type="button">Annulla</button></a>
			</div>
		</form>
	</section>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>