<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Edit Film')"> </head>
<body>
	<header th:replace="fragments/admin_base.html :: intestazione"></header>
	<section class="admin-form">
		<form th:action="@{'/admin/edit/film/' + ${film.id}}" method="POST" th:object="${film}" enctype="multipart/form-data">
			<div>Modifica film</div>
			<label>
				<div>
					<span>Titolo:</span>
					<input th:field="*{titolo}" type="text" required/>
				</div>
				<div th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}"></div>
			</label>
			<label>
				<div>
					<span>Durata:</span>
					<input th:field="*{durata}" type="text" required/>
				</div>
				<div th:if="${#fields.hasErrors('durata')}" th:errors="*{durata}"></div>
			</label>
			<label>
				<div>
					<span>Regista:</span>
					<input th:field="*{regista}" type="text" required/>
				</div>
				<div th:if="${#fields.hasErrors('regista')}" th:errors="*{regista}"></div>
			</label>
			<label>
				<div>
					<span>Genere:</span>
					<input th:field="*{genere}" type="text" required/>
				</div>
				<div th:if="${#fields.hasErrors('genere')}" th:errors="*{genere}"></div>
			</label>
			<label>
				<div>
					<span>Trama:</span>
					<textarea th:field="*{trama}" type="text"/>
				</div>
				<div th:if="${#fields.hasErrors('trama')}" th:errors="*{trama}"></div>
			</label>
			<label>
				<div>
					<span>Locandina:</span>
					<input id="locandina" type="file" name="image" accept="image/png, image/jpeg"/>
				</div>
			</label>
			<div>
				<button class="button-edit" type="submit">Conferma</button>
				<a th:href="@{/admin/film}"><button class="button-remove" type="button">Annulla</button></a>
			</div>
		</form>
	</section>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>