<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Edit Film')"> </head>
<body>
	<header th:replace="fragments/admin_base.html :: intestazione"></header>
	<div>
		<h4>Modifica film</h4>
	</div>
	<form th:action="@{'/admin/edit/film/' + ${film.id}}" method="POST" th:object="${film}">
		<table>
			<tr>
				<td>Titolo:</td>
				<td><input th:field=*{titolo} type="text" required /></td>
				<td th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}" th:style="'color:red'"></td>
			</tr>		
			<tr>
				<td>Durata:</td>
				<td><input th:field="*{durata}" type="text" required /></td>
				<td th:if="${#fields.hasErrors('durata')}" th:errors="*{durata}" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td>Regista:</td>
				<td><input th:field=*{regista} type="text"/></td>
				<td th:if="${#fields.hasErrors('regista')}" th:errors="*{regista}" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td>Genere:</td>
				<td><input th:field=*{genere} type="text"/></td>
				<td th:if="${#fields.hasErrors('genere')}" th:errors="*{genere}" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td>Trama:</td>
				<td><input th:field=*{trama} type="text"/></td>
				<td th:if="${#fields.hasErrors('trama')}" th:errors="*{trama}" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td>Locandina: </td>
				<td><input type="file" name="image" accept="image/png, image/jpeg" required /></td>
			</tr>
		</table>
		<div>
				<span><button type="submit">Conferma</button></span>
				<span><a th:href="@{/admin/film}"><button type="button">Annulla</button></a></span>
		</div>
	</form>
</body>
</html>