<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Add Film')"> </head>
<body>
	<header th:replace="fragments/admin_base.html :: intestazione"></header>
	<div>
		<h4>Creazione nuovo film</h4>
	</div>
	<form th:action="@{/admin/film}" method="POST" th:object="${film}" enctype="multipart/form-data">
		<table>
			<tr>
				<td>Titolo: </td>
				<td><input th:field="*{titolo}" type="text" required /></td>
				<td th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}" th:style="'color:red'"></td>
			</tr>		
			<tr>
				<td>Durata: </td>
				<td><input th:field="*{durata}" type="text" required /></td>
				<td th:if="${#fields.hasErrors('durata')}" th:errors="*{durata}" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td>Descrizione: </td>
				<td><input th:field="*{descrizione}" type="text"/></td>
				<td th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td>Locandina: </td>
				<td><input type="file" name="image" accept="image/png, image/jpeg" required /></td>
				<td th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}" th:style="'color:red'"></td>
			</tr>
		</table>
		<div>
				<span><button type="submit">Aggiungi</button></span>
				<span><a th:href="@{/admin/film}"><button type="button">Annulla</button></a></span>
		</div>
	</form>
</body>
</html>